@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');

* {
    font-family: 'Pavanam', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-image: url(img/alonso-reyes-haZNHEV2WXQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

#search-bar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}



#search-bar  input:focus-within {
    border: solid 1px #aaa;
    box-shadow: 0px 2px 7px rgb(189, 189, 189);

}

#search-bar input {
    /* quitamos el borde interno del input que aparece al hacer click */
    width: 20em;
    outline: none;
    border: none;
    border-radius: 2em;
    padding: .7em;
    margin: 1em;
    font-size: 1em;
    flex: auto;
    
}

#search-bar label {
    display: flex;
    flex: 1;
}

#search-bar .actions {
    display: flex;
    gap: 1em;
}

#search-bar .actions button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.3em;
}

#search-bar .actions button:hover {
    font-size: 1.8em;
    transition: .2s;
    transform: translate(0,-3px);
}