@import url('https://fonts.googleapis.com/css2?family=Pavanam&display=swap');

* {
    font-family: 'Pavanam', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-image: url(img/alonso-reyes-haZNHEV2WXQ-unsplash.jpg);
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

#search-bar {
    display: flex;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}



#search-bar:focus-within {
    border: solid 1px #aaa;
    box-shadow: 0px 2px 7px rgb(189, 189, 189);
}

#search-bar input {
    /* quitamos el borde interno del input que aparece al hacer click */
    outline: none;
    border: none;
    padding: .8em;
    font-size: 1.1em;

}

#search-bar label {
    display: flex;
    flex: 1;
}

#search-bar .actions {
    display: flex;
    gap: 1em;
}

#search-bar .actions button {
    border: none;
    outline: none;
    background-color: #ffff;
    cursor: pointer;
    color: #999;
    font-size: 1.1em;
}

#search-bar .actions button:hover {
    color: #181f86;
}